<% include header %>

<h1>Register</h1>
<form name="addsubscriber" method="post" action="/addsubscriber">
  <div>
    <input id="inputEmail" type="text" placeholder="Add Email" name="email"/>
  </div>
  <div>
    <input id="inputPasword" type="text" placeholder="Add Pasword" name="pasword"/>
  </div>
  <div>
    <input id="inputFirstName" type="text" placeholder="Add First Name" name="first_name"/>
  </div>
  <div>
    <input id="inputLastName" type="text" placeholder="Add Last Name" name="last_name"/>
  </div>
  <div>
    <button id="btnSubmit" type="submit">ADD</button>
  </div>
</form><br/><br/><a href="/">GO Back</a>

<% include footer %>