<% include header %> 

<ul>
      <%  subscribers.forEach(function(subscriber){ %>
          
          <li> <%= subscriber.following %></li>
          
          <% }) %>
    
  </ul>

<% include footer %> 

