<% include header %> 

<ul>
      <% subscribers.forEach(function(subscriber){ %>
          
          <li> <%= subscriber.followers %></li>
          
          <% }) %>
    
  </ul>

<% include footer %> 