<% include header %>  
            
<h1>Twiter</h1>
 <!-- <ul> -->
     <!-- <%// < subscribers.forEach(function(subscriber){ %> -->
          
         <!-- <li> <a href="/subscriber/<%//= subscriber.email %>"><%//= subscriber.email %></a></li> -->
          
          <% //}) %>
    
  </ul><a href="/addsubscriber">Sign Up</a>
  <h1>Sign in</h1>
  <form name="login" method="post" action="/">
    <div>
      <input id="inputEmail" type="text" placeholder="Add Email" name="email"/>
    </div>
    <div>
      <input id="inputPasword" type="text" placeholder="Add Pasword" name="pasword"/>
    </div>
    <div>
      <button id="btnSubmit" type="submit">Login</button>
    </div>
  </form>
</h1>

<% include footer %> 